1. What are data structures, and why are they important ?
  >> data structures are specific ways of organizing, storing, and manipulating data efficiently. Python provides both built-in and user-defined data structures to handle various types of data effectively.
2. Explain the difference between mutable and immutable data types with examples
  >> mutable Definition: These are data types whose values can be modified after the object is created.
        my_list = [1, 2, 3]
        my_list[0] = 10  # Modify the first element
        print(my_list)  # Output: [10, 2, 3]


   >>Immutable Definition: These are data types whose values cannot be changed after the object is created.

          my_string = "hello"
          my_string = my_string + " world"  # Creates a new string object
          print(my_string)  # Output: "hello world"
          
3.  What are the main differences between lists and tuples in Python?
    >>In Python, lists and tuples are both used to store collections of items, but they have several key differences.

    * Lists: Mutable (their contents can be changed after creation, e.g., you can add, remove, or modify elements).

        
        my_list = [1, 2, 3]
        my_list[0] = 10  # Changes the first element to 10
    

   * Tuples: Immutable (once created, their contents cannot be changed).


          my_tuple = (1, 2, 3)
          my_tuple[0] = 10  # Raises a TypeError



4. Describe how dictionaries store data?
   >>Dictionaries in programming store data as key-value pairs, allowing for efficient data retrieval based on unique keys.

5. Why might you use a set instead of a list in Python?
   >>You might use a set instead of a list in Python for several reasons, depending on the requirements of your task.

6. E What is a string in Python, and how is it different from a list?
   >>A string in Python is a sequence of characters used to represent text. It is an immutable data type, meaning its content cannot be changed after creation. Strings are enclosed in either single quotes ('), double quotes ("), or triple quotes (''' or """).

7. How do tuples ensure data integrity in Python?
   >>Tuples in Python ensure data integrity through their immutability, which means their elements cannot be modified after the tuple is created. This immutability offers several advantages for maintaining the integrity of data.

8. What is a hash table, and how does it relate to dictionaries in Python?
   >>A hash table is a data structure that stores key-value pairs and provides efficient operations for insertion, deletion, and lookup by using a technique called hashing. It achieves this efficiency by mapping keys to specific locations (or indices) in an array through a hash function.

9. Can lists contain different data types in Python?
   >>Yes, lists in Python can contain elements of different data types. Python lists are highly versatile and allow mixing integers, strings, floats, booleans, objects, and even other lists or complex structures within the same list.

10. Explain why strings are immutable in Python?
   >>Strings in Python are immutable, meaning that once a string is created, its contents cannot be changed. This design choice is intentional and offers several important benefits in terms of performance, security, and functionality.

11. What advantages do dictionaries offer over lists for certain tasks?
    >>Dictionaries offer several advantages over lists for certain tasks, primarily due to their key-value mapping and efficient lookups. Here are the key advantages.
12. Describe a scenario where using a tuple would be preferable over a list?
    >>A tuple is preferable over a list in scenarios where immutability is required, meaning the data should not be changed after creation.

13.  How do sets handle duplicate values in Python?
     >>In Python, sets automatically handle duplicate values by ensuring that each element in the set is unique. If you try to add duplicate values to a set, they are ignored, and only one instance of each unique value is stored.

14.  How does the “in” keyword work differently for lists and dictionaries?
     >>The in keyword in Python checks for the presence of an element in a collection, but its behavior differs slightly between lists and dictionaries.

15. Can you modify the elements of a tuple? Explain why or why not?
    >>No, you cannot modify the elements of a tuple in Python. Tuples are immutable, meaning their elements cannot be changed, added, or removed after the tuple is created. This immutability is a fundamental characteristic of tuples and is enforced by the Python language.

16.  What is a nested dictionary, and give an example of its use case?
     >>A nested dictionary in Python is a dictionary that contains one or more dictionaries as values. This structure is useful for representing hierarchical or multi-level data in a compact and organized way.

17. Describe the time complexity of accessing elements in a dictionary?
    >>The time complexity of accessing elements in a dictionary in Python depends on the operation being performed and the internal implementation of dictionaries. Python dictionaries use a hash table as their underlying data structure, which significantly influences their time complexity.

18. In what situations are lists preferred over dictionaries?
    >>Lists and dictionaries are both versatile data structures in Python, but they are suited for different scenarios. Lists are preferred over dictionaries in the following situation.

19. Why are dictionaries considered unordered, and how does that affect data
  retrieval.
   >>Dictionaries in Python are historically considered unordered because, before Python 3.7, they did not guarantee that the order of keys and values would be preserved. The implementation focused solely on efficient data storage and retrieval using a hash table, which inherently does not maintain order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    >>Lists and dictionaries are both widely used data structures in Python, but they differ significantly in how data is retrieved. Here's a detailed comparison.











---

# Practical Questions

1.  Write a code to create a string with your name and print it

In [ ]:
my_name = "Kamlesh"
print(my_name)

Kamlesh

2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
length = len(string)
print("The length of the string is:", length)

The length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print("The first 3 characters are:", sliced_string)

The first 3 characters are: Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str = "hello"
uppercase_str = str.upper()
print("The str in uppercase is:", uppercase_string)

The str in uppercase is: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print("The modified string is:", new_string)

The modified string is: I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1, 2, 3, 4, 5]
print("The list is:", list)

The list is: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list = [1,2,3,4]
list.append(10)
print("The updated list is:", list)

The updated list is: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list = [1,2,3,4,5]
list.remove(3)
print("The updated list is:", list)

The updated list is: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list = ["a", "b", "c", "d"]
second_element = list[1]
print("The second element is:", second_element)

The second element is: b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
list = [10, 20, 30, 40, 50]
reversed_list = list[::-1]
print("The reversed list is:", reversed_list)

The reversed list is: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple = (10, 20, 30)
print("The tuple is:", tuple)

The tuple is: (10, 20, 30)

12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
tuple = ("apple", "banana", "cherry")
first_element = tuple[0]
print("The first element is:", first_element)

The first element is: apple

13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
tuple = (1, 2, 3, 2, 4, 2)
count = tuple.count(2)
print("The number 2 appears", count)

The number 2 appears 3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
tuple = ("dog", "cat", "rabbit")
index = tuple.index("cat")
print("The index of the element 'cat' is:", index)

The index of the element 'cat' is: 1

15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
tuple = ("apple", "orange", "banana")
if "banana" in tuple:
    print("The element 'banana' is in the tuple.")
else:
    print("The element 'banana' is not in the tuple.")

The element 'banana' is in the tuple.

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
ele= {1, 2, 3, 4, 5}
print(ele)

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}

In [ ]:
num = {1, 2, 3, 4}
num.add(6)
print(num)

{1, 2, 3, 4, 6}

18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [ ]:
tuple = ("apple", "banana", "cherry")
print(tuple[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [ ]:
tuple = (1, 2, 3, 2, 4, 2)
count = tuple.count(2)
print(count)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
tuple = ("dog", "cat", "rabbit")
index = tuple.index("cat")
print(index)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
tuple = ("apple", "orange", "banana")
if "banana" in tuple:
    print("The element 'banana' is in the tuple.")
else:
    print("The element 'banana' is not in the tuple.")

The element 'banana' is in the tuple.

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
number = {1, 2, 3, 4, 5}
print(number)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
number = {1, 2, 3, 4}
number.add(6)
print(number)

{1, 2, 3, 4, 6}